body, input, button, select, textarea, a, span, p, strong {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    outline: none !important;
}

.login {
    background: #3E4348;
    input, textarea {
        color: #fff;
    }
    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #fff;
        box-shadow: none !important;
        outline: none !important;
    }

    input:not([type]).validate+label,
    input[type=text]:not(.browser-default).validate+label,
    input[type=password]:not(.browser-default).validate+label,
    input[type=email]:not(.browser-default).validate+label,
    input[type=url]:not(.browser-default).validate+label,
    input[type=time]:not(.browser-default).validate+label,
    input[type=date]:not(.browser-default).validate+label,
    input[type=datetime]:not(.browser-default).validate+label,
    input[type=datetime-local]:not(.browser-default).validate+label,
    input[type=tel]:not(.browser-default).validate+label,
    input[type=number]:not(.browser-default).validate+label,
    input[type=search]:not(.browser-default).validate+label,
    textarea.materialize-textarea.validate+label {
      width: inherit !important;
    }

    input.valid:not([type]),
    input.valid:not([type]):focus,
    input.valid[type=text]:not(.browser-default),
    input.valid[type=text]:not(.browser-default):focus,
    input.valid[type=password]:not(.browser-default),
    input.valid[type=password]:not(.browser-default):focus,
    input.valid[type=email]:not(.browser-default),
    input.valid[type=email]:not(.browser-default):focus,
    input.valid[type=url]:not(.browser-default),
    input.valid[type=url]:not(.browser-default):focus,
    input.valid[type=time]:not(.browser-default),
    input.valid[type=time]:not(.browser-default):focus,
    input.valid[type=date]:not(.browser-default),
    input.valid[type=date]:not(.browser-default):focus,
    input.valid[type=datetime]:not(.browser-default),
    input.valid[type=datetime]:not(.browser-default):focus,
    input.valid[type=datetime-local]:not(.browser-default),
    input.valid[type=datetime-local]:not(.browser-default):focus,
    input.valid[type=tel]:not(.browser-default),
    input.valid[type=tel]:not(.browser-default):focus,
    input.valid[type=number]:not(.browser-default),
    input.valid[type=number]:not(.browser-default):focus,
    input.valid[type=search]:not(.browser-default),
    input.valid[type=search]:not(.browser-default):focus,
    textarea.materialize-textarea.valid,
    textarea.materialize-textarea.valid:focus,
    .select-wrapper.valid>input.select-dropdown {
        border-bottom: 1px solid #75D701;
        box-shadow: none !important;
        outline: none !important;
    }

    input:not([type]):focus:not([readonly])+label,
    input[type=text]:not(.browser-default):focus:not([readonly])+label,
    input[type=password]:not(.browser-default):focus:not([readonly])+label,
    input[type=email]:not(.browser-default):focus:not([readonly])+label,
    input[type=url]:not(.browser-default):focus:not([readonly])+label,
    input[type=time]:not(.browser-default):focus:not([readonly])+label,
    input[type=date]:not(.browser-default):focus:not([readonly])+label,
    input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
    input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
    input[type=tel]:not(.browser-default):focus:not([readonly])+label,
    input[type=number]:not(.browser-default):focus:not([readonly])+label,
    input[type=search]:not(.browser-default):focus:not([readonly])+label,
    textarea.materialize-textarea:focus:not([readonly])+label {
        color: #fff;
    }
    .box-log {
        position: absolute;
        width: 90%;
        left: 50%;
        padding: 40px 30px;
        border: 1px solid #f9f9f9;
        border-radius: 4px;
        background: #494c50;
        transform: translate(-50%, -50%);
        animation-name: logBox;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        @media(min-width: 768px){
            width: 620px;
        }
        h2 {
            color: #fff;
            margin: 0 0 30px;
            font-weight: bold;
        }
        form {
            .input-field {
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
            }
            button {
                background: #000;
                border-radius: 50px;
                height: 50px;
                padding: 0 40px;
                font-size: 18px;
                font-weight: bold;
                &:hover {
                    background: #75D701;
                    color: #3E4348;
                }
                @media(max-width: 768px){
                    width: 100%;
                }
            }
        }
    }
}

.dashboard {
    background: #f7f7f7;
    .clientId {
        display: flex;
        a {
            margin-right: 10px;
            &.active,
            &:hover {
                background: #000;
            }
        }
    }
    .collection {
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        border: 0;
        margin: 0;
        display: none;
        @media(min-width: 600px){
            display: block;
        }
        li {
            list-style: none;
            span {
                background: #000;
                color: #Fff;
                display: block;
                padding: 10px;
            }
        }
    }
    .btn-send {
        text-align: right;
        margin-top: 40px;
        button {
            background: #000;
            color: #fff;
            border: 0;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
        }
    }
    .menu-mobile {
        display: block;
        @media(min-width: 600px){
            display: none;
        }
    }
    .content {
        padding: 20px;
    }
    .logout {
        width: 100%;
    }
    .card {
        .card-content {
            .card-title {
                margin-bottom: 38px;
            }
        }
    }
}

@keyframes logBox {
  0% {
    top: -50%;
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
