/* line 1, style.scss */
body, input, button, select, textarea, a, span, p, strong {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  outline: none !important;
}

/* line 7, style.scss */
.login {
  background: #3E4348;
}
/* line 9, style.scss */
.login input, .login textarea {
  color: #fff;
}
/* line 24, style.scss */
.login input:not([type]):focus:not([readonly]),
.login input[type=text]:not(.browser-default):focus:not([readonly]),
.login input[type=password]:not(.browser-default):focus:not([readonly]),
.login input[type=email]:not(.browser-default):focus:not([readonly]),
.login input[type=url]:not(.browser-default):focus:not([readonly]),
.login input[type=time]:not(.browser-default):focus:not([readonly]),
.login input[type=date]:not(.browser-default):focus:not([readonly]),
.login input[type=datetime]:not(.browser-default):focus:not([readonly]),
.login input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.login input[type=tel]:not(.browser-default):focus:not([readonly]),
.login input[type=number]:not(.browser-default):focus:not([readonly]),
.login input[type=search]:not(.browser-default):focus:not([readonly]),
.login textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  box-shadow: none !important;
  outline: none !important;
}
/* line 42, style.scss */
.login input:not([type]).validate + label,
.login input[type=text]:not(.browser-default).validate + label,
.login input[type=password]:not(.browser-default).validate + label,
.login input[type=email]:not(.browser-default).validate + label,
.login input[type=url]:not(.browser-default).validate + label,
.login input[type=time]:not(.browser-default).validate + label,
.login input[type=date]:not(.browser-default).validate + label,
.login input[type=datetime]:not(.browser-default).validate + label,
.login input[type=datetime-local]:not(.browser-default).validate + label,
.login input[type=tel]:not(.browser-default).validate + label,
.login input[type=number]:not(.browser-default).validate + label,
.login input[type=search]:not(.browser-default).validate + label,
.login textarea.materialize-textarea.validate + label {
  width: inherit !important;
}
/* line 72, style.scss */
.login input.valid:not([type]),
.login input.valid:not([type]):focus,
.login input.valid[type=text]:not(.browser-default),
.login input.valid[type=text]:not(.browser-default):focus,
.login input.valid[type=password]:not(.browser-default),
.login input.valid[type=password]:not(.browser-default):focus,
.login input.valid[type=email]:not(.browser-default),
.login input.valid[type=email]:not(.browser-default):focus,
.login input.valid[type=url]:not(.browser-default),
.login input.valid[type=url]:not(.browser-default):focus,
.login input.valid[type=time]:not(.browser-default),
.login input.valid[type=time]:not(.browser-default):focus,
.login input.valid[type=date]:not(.browser-default),
.login input.valid[type=date]:not(.browser-default):focus,
.login input.valid[type=datetime]:not(.browser-default),
.login input.valid[type=datetime]:not(.browser-default):focus,
.login input.valid[type=datetime-local]:not(.browser-default),
.login input.valid[type=datetime-local]:not(.browser-default):focus,
.login input.valid[type=tel]:not(.browser-default),
.login input.valid[type=tel]:not(.browser-default):focus,
.login input.valid[type=number]:not(.browser-default),
.login input.valid[type=number]:not(.browser-default):focus,
.login input.valid[type=search]:not(.browser-default),
.login input.valid[type=search]:not(.browser-default):focus,
.login textarea.materialize-textarea.valid,
.login textarea.materialize-textarea.valid:focus,
.login .select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid #75D701;
  box-shadow: none !important;
  outline: none !important;
}
/* line 90, style.scss */
.login input:not([type]):focus:not([readonly]) + label,
.login input[type=text]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=password]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=email]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=url]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=time]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=date]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=number]:not(.browser-default):focus:not([readonly]) + label,
.login input[type=search]:not(.browser-default):focus:not([readonly]) + label,
.login textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #fff;
}
/* line 93, style.scss */
.login .box-log {
  position: absolute;
  width: 90%;
  left: 50%;
  padding: 40px 30px;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  background: #494c50;
  transform: translate(-50%, -50%);
  animation-name: logBox;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@media (min-width: 768px) {
  /* line 93, style.scss */
  .login .box-log {
    width: 620px;
  }
}
/* line 108, style.scss */
.login .box-log h2 {
  color: #fff;
  margin: 0 0 30px;
  font-weight: bold;
}
/* line 114, style.scss */
.login .box-log form .input-field {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
/* line 118, style.scss */
.login .box-log form button {
  background: #000;
  border-radius: 50px;
  height: 50px;
  padding: 0 40px;
  font-size: 18px;
  font-weight: bold;
}
/* line 125, style.scss */
.login .box-log form button:hover {
  background: #75D701;
  color: #3E4348;
}
@media (max-width: 768px) {
  /* line 118, style.scss */
  .login .box-log form button {
    width: 100%;
  }
}

/* line 137, style.scss */
.dashboard {
  background: #f7f7f7;
}
/* line 139, style.scss */
.dashboard .clientId {
  display: flex;
}
/* line 141, style.scss */
.dashboard .clientId a {
  margin-right: 10px;
}
/* line 144, style.scss */
.dashboard .clientId a.active, .dashboard .clientId a:hover {
  background: #000;
}
/* line 149, style.scss */
.dashboard .collection {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  border: 0;
  margin: 0;
  display: none;
}
@media (min-width: 600px) {
  /* line 149, style.scss */
  .dashboard .collection {
    display: block;
  }
}
/* line 162, style.scss */
.dashboard .collection li {
  list-style: none;
}
/* line 164, style.scss */
.dashboard .collection li span {
  background: #000;
  color: #Fff;
  display: block;
  padding: 10px;
}
/* line 172, style.scss */
.dashboard .btn-send {
  text-align: right;
  margin-top: 40px;
}
/* line 175, style.scss */
.dashboard .btn-send button {
  background: #000;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
/* line 186, style.scss */
.dashboard .menu-mobile {
  display: block;
}
@media (min-width: 600px) {
  /* line 186, style.scss */
  .dashboard .menu-mobile {
    display: none;
  }
}
/* line 192, style.scss */
.dashboard .content {
  padding: 20px;
}
/* line 195, style.scss */
.dashboard .logout {
  width: 100%;
}
/* line 200, style.scss */
.dashboard .card .card-content .card-title {
  margin-bottom: 38px;
}

@keyframes logBox {
  /* line 208, style.scss */
  0% {
    top: -50%;
    opacity: 0;
  }

  /* line 212, style.scss */
  50% {
    opacity: 0.3;
  }

  /* line 215, style.scss */
  100% {
    top: 50%;
    opacity: 1;
  }
}
